@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.cover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 450px;
    height: 620px;
    border: 2px solid rgb(255, 153, 0);
    border-radius: 20px;
}


.paragraph-container {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5px;
    max-width: 450px;
    height: 620px;
    border: 2px solid steelblue;
    border-radius: 10px;
    line-height: 2rem;
    overflow: hidden;
}

.btn-links {
    font-family: 'bangers';
    font-size: 3rem;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-top: 0px;
    border-style: none;
    text-shadow: 1px 1px 2px black;
    background: #fff;
}

.title {
    justify-content: center;
    font-family: 'bangers';
    font-size: 3rem;
    color:rgb(9, 255, 0);
    text-shadow: 1px 1px 2px black;
}

a {
    text-decoration: none;
}

.btn-cover {
    font-family: 'bangers';
    font-size: 3rem;
    margin-top: 160px;
    margin-left: 70px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid darkorange;
}

.pages-buttons-container {
    display: flex;
    justify-content: center;
}

.chapter {
    font-size: 1.5rem;
    width: 350px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-family: 'bangers';
    color:rgb(255, 81, 0);
    text-shadow: 1px 1px 2px black;
    margin: 10px 5px;
}

.btn-words {
    font-size: 1.4rem;
    border-style: none;
    background: #fff;
    box-shadow: 1px 1px 2px black;
    border-radius: 7px;
    transition: 0.1s ease;
    padding: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.btn-words:hover {
    cursor: pointer;
    background-color: rgb(238, 255, 0);
    box-shadow: 2px 2px 3px black;
}

.paragraph {
    margin-right: 2px;
    margin-left: 15px;
}
