@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Mouse+Memoirs&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.cover-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 450px;
    height: 620px;
    border: 2px solid rgb(255, 153, 0);
    border-radius: 20px;
}


.paragraph-container {
    font-family: 'Mouse Memoirs';
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
    max-width: 450px;
    height: 620px;
    border: 2px solid rgb(255, 72, 0);
    border-radius: 10px;
    line-height: 35px;
    overflow: hidden;
}

.title {
    font-family: 'Mouse Memoirs';
    font-size: 4rem;
    color:rgb(255, 94, 0);
    text-shadow: 1px 1px 2px black;
}

img {
    width: 400px;
}

.buttons {
    font-family: 'Mouse Memoirs';
    font-size: 3rem;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    margin: 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    transition: 0.1s ease;
}

.buttons:hover {
    cursor: pointer;
    background-color: rgb(238, 255, 0);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

a {
    text-decoration: none;
}

.chapter {
    font-size: 3rem;
    width: 350px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Mouse Memoirs';
    color:rgb(255, 81, 0);
    text-shadow: 1px 1px 2px black;
    margin: 0px 0px;
}

.btn-words {
    font-family: 'Mouse Memoirs';
    font-size: 25px;
    border-style: none;
    background: #fff;
    box-shadow: 1px 1px 2px black;
    border-radius: 7px;
    transition: 0.1s ease;
    padding: 1px;
    margin-left: 3px;
    margin-right: 3px;
}

.btn-words:hover {
    cursor: pointer;
    background-color: rgb(238, 255, 0);
    box-shadow: 2px 2px 3px black;
}

.paragraph {
    font-family: 'Mouse Memoirs';
    font-size: 25px;
    margin-right: 2px;
    margin-left: 15px;
}

.narration {
    font-family: 'Mouse Memoirs';
    font-size: 20px;
    color:blueviolet;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-style: none;
    background-color: #fff;
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    transition: 0.3s ease;
    cursor: pointer;
}

.narration:hover {
    box-shadow: inset 2px 2px 10px rgba(3, 7, 7, 0.5);
    transform: scale(1.1);
    color: rgb(255, 0, 0);
}

.narration:active {
    color:rgb(255, 0, 212);
    background-color: blue;
}

.btn-end {
    font-family: 'Mouse Memoirs';
    font-size: 3rem;
    width: 160px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    margin: 5px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    transition: 0.1s ease;
}

.btn-end:hover {
    cursor: pointer;
    background-color: rgb(238, 255, 0);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}